body{
    width: 100%;
    min-height: 600px;
}

.absolute-center{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.app{
    width: 60%;
    min-width: 800px;
    min-height: 480px;
    max-height: 600px;
    height: 90%;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 40px;
}

.shadow{
    box-shadow: 1px 4px 12px 7px rgba(0,0,0,.175);
    -webkit-box-shadow: 1px 4px 12px 7px rgba(0,0,0,.175);
}