.modal-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    z-index:1000;
}

.close-modal{
    top: 50px;
    right: 50px;
    cursor: pointer;
    position: absolute;
    z-index:1000;
}

.modal-content{
    z-index: 10001;
}