.modal-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #edf5f8;
    opacity: .8;
    z-index:1000;
}

.close-modal{
    color: #999;
    top: 50px;
    right: 50px;
    cursor: pointer;
    position: absolute;
    z-index:10002;
}

.close-modal:hover{
    color: #bbb;
}

.modal-content{
    width: 100%;
    height: 100%;
    z-index: 10001;
}