
.login-container .title{
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
}

.login-container .btn{
    width: 100%;
    height: 40px;
    margin-top: 25px;
    border-style: none;
    border-radius: 3px;
    font-size: 14px;
}

.login-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.login-container > div{
    position: relative;
}


.switch-icon{
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #e72564;
    border-radius: 50%;
    z-index: 100;
    transition:transform .5s;
    position: absolute;
    left: 365px;
    top: 20px;
}

.switch-icon:hover{
    transform: rotate(360deg);
}

.login{
    width: 360px;
    height: 300px;
    box-shadow: 0 10px 12px #d9dee2;
    background-color: #fff;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    /*position: absolute;*/
}

.login .title{
    color: #465163;
}

.login .remember-me{
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 25px;
}

.login .remember-me{
    color: #a9acbf;
}

.login .remember-me-box{
    width: 0;
    height: 0;
    display: none;
}

.login .remember-me-box + label{
    font-size: 13px;
    padding-left: 22px;
    cursor: pointer;
    position: relative;
}

.login .remember-me-box:checked + label:before{
    left: 1px;
    border-right: 2px solid #e72564;
    border-bottom: 2px solid #e72564;
}

.login .remember-me-box + label:before{
    width: 5px;
    height: 8px;
    z-index: 1;
    left: -12px;
    margin-top: 3px;

    -webkit-transform: rotateZ(45deg);

    transform: rotateZ(45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
}

.login .remember-me-box + label:after{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #a9acbf;
    border-radius: 4px;
    left:0;
}

.login .remember-me-box + label:before, .login .remember-me-box + label:after{
    content: '';
    position: absolute;
}

.login .btn{
    color: #fff;
    background-color: #e72564;
}

.register{
    width: 370px;
    height: 290px;
    box-shadow: 0 10px 12px #d9dee2;
    background-color: #e72564;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.register .title{
    color: #fff;
}

.register .input{
    color: #fff;
    background-color: #e72564;
}

.register .input:-moz-placeholder{
    color: #fff;
}

.register .input::-moz-placeholder{
    color: #fff;
}
.register .input:-ms-input-placeholder{
    color: #fff;
}
.register .input::-webkit-input-placeholder{
    color: #fff;
}

.register .btn{
    color: #e72564;
    background-color: #fff;
}