<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://npmcdn.com/antd@1.9.1/dist/antd.css">
    <title>Title</title>
    <style>
        body{
            width: 100%;
            min-height: 600px;
        }

        .absolute-center{
            width: 60%;
            min-width: 800px;
            min-height: 480px;
            height: 55%;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;
            border-radius: 15px;
            padding-top: 40px;
        }

        .shadow{
            box-shadow: 1px 4px 12px 7px rgba(0,0,0,.175);
            -webkit-box-shadow: 1px 4px 12px 7px rgba(0,0,0,.175);
        }
    </style>
</head>
<body>

    <div class="absolute-center shadow" id="main">
    </div>

    <script type="text/javascript" src="js/shared.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
